/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

/* MahasiswaForm styling */
form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin: 20px auto;
  width: 70%;
  max-width: 600px;
}

input[type="text"], input[type="date"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input[type="text"]:focus, input[type="date"]:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
}

button {
  background-color: #4b84d9;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1a22ba;
}

button:active {
  background-color: #ff006f;
}

/* Button spacing in MahasiswaList */
table td button {
  margin-right: 10px;
}

/* MahasiswaList styling */
table {
  width: 90%;
  max-width: 1200px;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #4b84d9;
  color: white;
  text-transform: uppercase;
}

table tr:nth-child(even) {
  background-color: #f8f8f8;
}

table tr:hover {
  background-color: #e6f7e6;
}
